ul li {
    list-style-type: none;
    text-align: center;
    font-size: 20px;

}

ol li{

    text-align: center;
}


li{
    font-size:

}
r ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

r ul li {
    float: left;
}

r ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

r ul li a:hover {
    background-color: #111;
}


.border {
    display:inline-block;
    text-align:center;
}

.border{
background: none;
position:absolute;
color:	#000000;
top:50%;
left:50%;
padding:15px;
-ms-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);


}
#me{
    height: 400px;
    width: 50%;
    border: solid;
    position: static;
    top: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 256px;

}

hr{
    position: relative;
    border-color: black;
    display:block;



}

body{
    background-image: url("background.jpg");
    background-size:auto;

}

.motivatie{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
}

.game{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
}

.img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}



button img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 100%;
    position: relative;
    display:inline-block;
    text-align: center;
}
button{

    display: inline-block;
    position: relative;
    font-size: 15px;
    float: left;
    width:  250px;
    height: 250px;
    left: 570px;
}

.resultaat{
    display: inline-block;
    position: relative;
    top:250px;
    left: -385px;
}

#motivatie{
    width: 20%;
    border: solid;
}


